<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
</head>
<body>
    <div id="app">
        <button @click="changeVisibility">Mostrar/Ocultar</button>
        <tv-show-list v-if='mostrar'></tv-show-list>
        <div v-else>
            No hay datos
        </div>
    </div>
    <script>
        Vue.component('todo-add',{
    template:`
            <div>
                <input type="text" v-model="title" />
                <button @click="onClick">Añadir</button>
            </div>
            `,
            data: function(){
                return {
                    title:null
                }
            },
            methods:{
                onClick:function(){
                    console.log(this.title)
                }
            }

        })
        Vue.component('todo-item',{
            props:['todo'],
            template:`<li>{{todo.title}}</li>`

        })

        Vue.component('todo-list',{
            props: ['todos'],
            template:`
            <ul>
                <todo-item
                v-for="(todo,index) in todos"
                :todo="todo">
                </todo-item>
            </ul>
            `
        })
        const app = new Vue({
        el:'#app',
        data: {
            todos: [
            {title: 'Tarea 1', completed:false},
            {title: 'Tarea 2', completed:false},
            {title: 'Tarea 3', completed:false},
            ]           
        },
        template:`
        <div>
        <todo-list :todos="todos"></todo-list>
        <todo-add></todo-add>
        </div>
        `
        })
    </script>
</body>
</html>